%Shared {
  .textFieldWrapper {
    margin-top: 15px;
  }

  .buttonWrapper {
    width: 100%;
    margin-top: 15px;

    .button {
      width: 100%;
    }
  }

  .resultText {
    margin-top: 10px;
  }
}
