.Admin {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .main {
    width: 50%;

    .title {
      text-align: center;
    }

    .component {
      padding: 20px 0;
      border-top: 1px solid #aaa;

      &:first-of-type {
        margin-top: 0;
        border-top: none;
      }
    }
  }
}
